/*{
  outline: 1px solid red;
}*/
html,body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Averia Sans Libre', cursive;
}
h1{
  font-family: 'Emblema One', cursive;
}
h2,h3,h4{
 font-family: 'Averia Sans Libre', cursive; 
}
li{
  list-style-type:none;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
color:white;
}
.top{
  background:rgb(82, 120, 157);
}
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus
{
  background-color: #062f48 !important;
  border-radius: 5px !important;
  color: #FFF !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
  color: #FFF !important;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 10px 15px;
}
.navbar-inverse .navbar-nav > li { 
  margin-top: 10px;
}
.btn-default:hover,.redes i:hover{
  background:#062f48;
}
.bg-blue{
  background:rgb(82, 120, 157); 
}
#portafolio .bg-blue{
  background-color: #062f48;
}
#portafolio .btn-default{
	border:none;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
#portafolio .btn-default:hover{
 background:rgb(82, 120, 157);
}
#portafolio .btn-default:hover a{
	text-decoration: none;
}
.navbar-inverse .navbar-toggle{
  border-color: white;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background:#062f48;
}
.text-white{
  color: white;
}
.text-black{
  color: black;
}
.text-bold{
  font-weight: bold;
  font-size: 40px;
}
.bg-white{
  background: #d6e0ec;
	padding-bottom: 15px;
	-webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.mgtop13{
  margin-top: 13px;
} 
.br20{
  border-radius: 20%;
  width: 300px;
  margin: 0 auto;
}
#portafolio{
  background: url("../images/textura2.jpg");
  

}
.hero{
  background: url("../images/escribir.png")center center;
  background-size: cover;
  position: relative;
  height: 690px;
  overflow: hidden;
}
.hero-intro{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -90px;
	padding: 20px 0;
  top: 50%;
	background: rgba(0,0,0,0.5);
}
#skills{
  height: 600px;
}
.abc-small{
  font-size: 10px;
  background: #233140;
}
.redes i{
  font-size: 30px;
  padding: 15px;
}
.redes{
  margin: 0 auto;
  display: inline-block;
}
.img-lider{
  background: url("../images/mujer-lider.jpg")center center;
  background-size: cover;
  height: 200px;
}
.img-bebe{
  background: url("../images/bebe.jpg")center center;
  background-size: cover;
  height: 200px;
}
.img-nieve{
  background: url("../images/nieve.jpg")center center;
  background-size: cover;
  height: 200px;
}

.pd20{
  padding: 20px;
}
.pd40{
  padding: 40px;
}
.radius{
  border-radius: 50%;
  margin: 0 auto;
}
.progress{
  height: 20px;
  margin-top: 3px;
}
.skill-icon{
    display: inline-block;
    float: left;
}
.text-red{
  color: rgba(230,126,34,0.9);
  text-align: center;
}
.text-green{
  color: rgba(26,188,156,0.9);
  text-align: center;
}
.text-blue{
  color: rgba(52,152,219,0.9);
  text-align: center;
}
.fl{
  float: left;
}
.footer-down{
  height: 300px;
  z-index: 2;
  background: #000 !important;
  position: absolute;
} 
.footer-up{
  z-index: 1;
  position: relative;
  /*background: url(../images/conta.jpg)center center;
  background-size: cover;*/
  height: 500px;
}
/*********MEDIA QUERIES*********/
@media (max-width: 768px){
  h1,h2{
    font-size:20px !important;
  }
}