html,body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Averia Sans Libre', cursive;
}
h1,h2,h3,h4{
  font-family: 'Emblema One', cursive;
}
li{
  list-style-type:none;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
color:white;
}
.bg-orange,.top{
  background: rgba(230,126,34,0.9);
}
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus
{
  background-color: #ffb40a !important;
  border-radius: 5px !important;
  color: #FFF !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
  color: #FFF !important;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 10px 15px;
}
.navbar-inverse .navbar-nav > li { 
  margin-top: 10px;
}
.btn-default:hover,.redes i:hover{
  background:rgba(230,126,34,0.9);
}
.bg-yellow{
  background:#ffb40a; 
}
.navbar-inverse .navbar-toggle{
  border-color: white;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background:#ffb40a;
}
.text-white{
  color: white;
}
.text-black{
  color: black;
}
.text-bold{
  font-weight: bold;
  font-size: 40px;
}
.bg-white{
  background: white;
}
.video-test{
  height:50%;
  width:100%; 
} 
.hero{
  position: relative;
}
.hero-intro{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -90px;
  top: 50%;
}
#about .img-responsive{
  margin: 0 auto;
}
#portafolio img{
  max-width: 100%;
}
.fb-bottom{
  float: left;
  padding: 30px 0 0;
}
.abc-small{
  font-size: 10px;
  background: #233140;
}
.redes i{
  font-size: 30px;
  padding: 15px;
}
.redes{
  margin: 0 auto;
  display: inline-block;
}
.img-lider{
  background: url("../images/mujer-lider.jpg")center center;
  background-size: cover;
  height: 200px;
}
.img-bebe{
  background: url("../images/bebe.jpg")center center;
  background-size: cover;
  height: 200px;
}
.img-nieve{
  background: url("../images/nieve.jpg")center center;
  background-size: cover;
  height: 200px;
}
.pd10{
  padding: 10px;
  border: 3px dashed rgba(230,126,34,0.9);
}
.pd20{
  padding: 20px;
}
.pd40{
  padding: 40px;
}
.radius{
  border-radius: 50%;
  margin: 0 auto;
}
.radius20{
  width: 100%;
  border-radius: 20%;
  border: 2px solid rgba(230,126,34,0.9);
}
.progress{
  height: 20px;
  margin-top: 3px;
}
.skill-icon{
    display: inline-block;
    float: left;
}
.text-red{
  color: rgba(230,126,34,0.9);
  text-align: center;
}
.text-green{
  color: rgba(26,188,156,0.9);
  text-align: center;
}
.text-blue{
  color: rgba(52,152,219,0.9);
  text-align: center;
}
.fl{
  float: left;
}
.footer-down{
  height: 300px;
  z-index: 2;
  background: #000 !important;
  position: absolute;
}
.footer.down img
{
  opacity: .3 !important;
}
.footer-up{
  z-index: 1;
  position: relative;
  background: url(../images/contactame.jpg) no-repeat;
  background-size: cover;
  height: 500px;
}